<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qx.sharepower.dao.ResourceDao">
    <sql id="Base_Column_List">
        id , publish_time ,`type`, title , cover, tags ,`describe`, up
    </sql>
    <sql id="ALL_Column_List">
        id, publish_time , publisher ,`type`, title , cover, url ,tags ,`describe`, up, down, `status`
    </sql>
    <select id="getList" resultType="cn.qx.sharepower.model.Resource" parameterType="cn.qx.sharepower.model.param.ResourceParam">
        <bind name="key_offset" value="size*page"></bind>
        select
        <include refid="Base_Column_List"/>
        from resources
        where status = '1'
        <if test="type == 1 or type == 2 ">
           and type = #{type}
        </if>
        <if test="text != null ">
            and (
                title like concat('%',#{text},'%') or
                `describe` like concat('%',#{text},'%')
            )
        </if>
        <if test="sort == 0">
            order by publish_time
        </if>
        <if test="sort == 1">
            order by up
        </if>
        <if test="order == 0">
            desc
        </if>
        limit #{key_offset},#{size}
    </select>
    <select id="getTotalCount" resultType="int" parameterType="cn.qx.sharepower.model.param.ResourceParam">
        select
        count(0)
        from resources
        where status = '1'
        <if test="type == 1 or type == 2 ">
            and type = #{type}
        </if>
        <if test="text != null ">
            and (
            title like concat('%',#{text},'%') or
            `describe` like concat('%',#{text},'%')
            )
        </if>
    </select>
    <select id="getById" parameterType="java.lang.Integer" resultType="cn.qx.sharepower.model.Resource">
        select
        <include refid="ALL_Column_List"/>
        from resources
        where id = #{id}
        and status = '1'
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
      update resources
      set status = '0'
      where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="cn.qx.sharepower.model.Resource" useGeneratedKeys="true" keyProperty="id">
        insert into resources
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="publishTime != null">
                publish_time,
            </if>
            <if test="publisher != null">
                publisher,
            </if>
            <if test="type != null">
                `type`,
            </if>
            <if test="title != null">
                `title`,
            </if>
            <if test="cover != null">
                cover,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="describe != null">
                `describe`,
            </if>
            <if test="tags != null">
                tags,
            </if>
            <if test="up != null">
                up,
            </if>
            <if test="down != null">
                down,
            </if>
            <if test="status != null">
                `status`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="publishTime != null">
                #{publishTime},
            </if>
            <if test="publisher != null">
                #{publisher,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="cover != null">
                #{cover,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="describe != null">
                #{describe,jdbcType=VARCHAR},
            </if>
            <if test="tags != null">
                #{tags,jdbcType=VARCHAR},
            </if>
            <if test="up != null">
                #{up,jdbcType=INTEGER},
            </if>
            <if test="down != null">
                #{down,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="cn.qx.sharepower.model.Resource">
        update resources
        <set>
            <if test="type != null">
                `type` = #{type,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                `title` = #{title,jdbcType=VARCHAR},
            </if>
            <if test="cover != null">
                cover = #{cover,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="tags != null">
                tags = #{tags,jdbcType=VARCHAR},
            </if>
            <if test="describe != null">
                `describe` = #{describe,jdbcType=VARCHAR},
            </if>
            <if test="up != null">
                up = #{up,jdbcType=INTEGER},
            </if>
            <if test="down != null">
                down = #{down,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>